[submodule "CSCI-220/playground"]
	path = CSCI-220/playground
	url = https://github.com/Mines-CSCI220/Playground.git
[submodule "CSCI-598-OS/student-env"]
	path = CSCI-598-OS/student-env
	url = https://github.com/csci-442-mines/student-env
